<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Comments</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ul class="list-group" *ngFor="let comment of comments">
          <b>Name</b> <li class="list-group-item">{{comment.name}}</li>
          <b>Email</b> <li class="list-group-item">{{comment.email}}</li>
          <b>Comment</b> <li class="list-group-item">{{comment.body}}</li>
          <hr><br>
        </ul>

        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>

</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Show Comments</button>

<hr>
